// Fonts
$primary-font: Roboto, sans-serif;

//Colors
$color-oxford-blue: #3B495B; 
$color-black-haze: #F7F8F8;
$color-ocean-green: #38BA72;
$color-cloud-burst: #1E2E42;
$color-alto: #CECECE;
$color-pale-sky: #617283;

