
.button {
	font-size: 20px;
    line-height: 24px;
    padding: 14px 46px;
    border-radius: 5px;
    background-color: $color-ocean-green;
    border-color: $color-ocean-green;

    &:hover {
		background-color: darken( $color-ocean-green, 10 );
		border-color: darken( $color-ocean-green, 10 );
    }

}

.hero__button {
    background-color: #FFFFFF;
    color: $color-pale-sky;
    border: 2px solid #ECECEC;
    padding: 14px 16px;
    border-radius: 5px;
    margin-bottom: 35px;
    font-size: 20px;

    &:first-child {
        margin-right: 30px;
    }
    
    img {
        padding-right: 15px;
    }

}