.card {
    
        &__image {
            margin-bottom: 28px;
        }
    
        &__title {
            margin-bottom: 22px;
    
        }
    
        &__text {
            margin-bottom: 60px;
        }
    
    }
    
    .card--dark {
    
        .card {
    
            &__title {
                color: white;
            } 
    
            &__text {
                color: rgba( white, .8 );
            }
    
            &__button {
                background-color: rgba( white, .2 );
                color: white;
            }

            &__button:hover {
                background-color: rgba( white, .1 );
            }
    
        } // .card
    
    } // .card--dark

    